Django>=5,<6
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
psycopg2-binary>=2.9
python-dotenv>=1.0
django-cors-headers>=4.4
requests>=2.32
redis>=5.0
pytest>=8.0
pytest-django>=4.8
drf-spectacular
web3
djangorestframework-simplejwt
